.jumbotron {
    background-color: cadetblue;
    color: black;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: cadetblue;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color:gainsboro;
}

.btn-reserva{
    width: 100%;
}